[submodule "frontend"]
	path = frontend
	url = https://github.com/pgkiet27/GrowthDesk-User-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/pgkiet27/GrowthDesk-User-Backend.git
